@model MoviesDetailsViewModel
@{
    ViewData["Title"] = Model.Movie.Name;
}

<div class="row">
    <div class="items">
        <img class="PhotoDetails" src="@Model.Movie.imageSrc" alt="@Model.Movie.Name" />
        <div class="items2">
            <div class="Title">@Model.Movie.Name @Model.Movie.MoviePart</div>
            <p class="Paragraph">@Model.Movie.Bio</p>
            <button type="button" onclick="add(@Model.Movie.Id)" class="btn btn-primary">Add to cart</button> (Price @Model.Movie.Price.ToString("c"))
        </div>
    </div>
</div>
@if (Model.Movies is not null && Model.Movie.IsSeries)
{
    <div class="Series">
        <div class="Header"><h2>Parts Of @Model.Movie.Name</h2></div>

        @foreach (var item in Model.Movies)
        {
            <a asp-action="Details" asp-route-id="@item.Id" class="Photos">
                <img src="@item.imageSrc" alt="@item.Name" style="width:170px; height:170px; max-width:100%" />
            </a>
            <h2>@item.Name @item.MoviePart</h2>
        }
    </div>
}