@model IEnumerable<Movie>

@{
    ViewData["Title"] = "List of Movies";
}
@if (User.IsInRole("Admin"))
{
    <div class="col-6 text-end" style="margin-top : 15px; margin-left : 647px;">
        <a asp-controller="Movies" asp-action="Add" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> Add New
        </a>
    </div>
}
<br>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-primary">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Name
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a class="text-white float-right" asp-action="Update" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                                        <a class="text-white float-right" asp-action="Delete" asp-route-Id="@item.Id"><i class="bi bi-trash3"></i></a>
                                    }
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.imageSrc" alt="@item.Name" style="width:100%">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body" style="height: 350px; overflow:hidden;">
                            <p class="card-text">@item.Bio</p>
                            <p class="card-text"><b>Category: </b>@item.MoiveCategory</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="bi bi-eye-fill"></i> Details
                                </a>
                                <button type="button" onclick="add(@item.Id)" class="btn btn-primary">Add to cart</button> (Price @item.Price.ToString("c"))
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    <script>
        async function add(movieId) {
            try {
                var response = await fetch(`/Cart/AddItem?movieId=${movieId}`);
                if (response.status == 200) {
                    var result = await response.json();
                    var cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;
                }
            }
            catch (err) {
                console.log(err);
            }
        }
    </script>
}